# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.aps
*.pch
*.vspx

# NuGet
packages/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# ReSharper / Rider
_ReSharper*/
*.[Rr]e[Ss]harper
.idea/

# OS files
.DS_Store
Thumbs.db
